<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>821295087358-oqd7hju74skuelh3v70vu2bi8ash6uf8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.821295087358-oqd7hju74skuelh3v70vu2bi8ash6uf8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>821295087358-upcen2pfb0viauvui77gd48eq776i5af.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCwhFKJxZKmxcGgn8AeQ8YE-6Fuu2RHG1M</string>
	<key>GCM_SENDER_ID</key>
	<string>821295087358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shoto.click</string>
	<key>PROJECT_ID</key>
	<string>shotography-6a40e</string>
	<key>STORAGE_BUCKET</key>
	<string>shotography-6a40e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:821295087358:ios:f39a367bab3243d0d06faf</string>
</dict>
</plist>
